.Navbar{
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem 3rem;
  font-size: 1.4rem;
  background-color: var(--mainBlue);
  text-transform: capitalize;
}
/*------------- control displying toolbar elements -------- */
.DrawerDisplay{ 
  display: none
}
@media screen and (min-width: 768px){ /* display only in md, lg, xl */
  .DrawerDisplay{
    display: block
  }
}
/* -------------- drawer toggle btn style ---------------------*/
.Icon{
  color: #f8f9fa;;
  cursor: pointer;
  display: block;
  size: 1.3rem
}
.Icon:hover{
  color: #cbd3da
}
@media screen and (min-width: 768px){ /* display only in md, lg, xl */
  .Icon{
    display: none;
    margin-right: auto;
  }
}
