.Img{
  max-width: 100%;
  height: auto;
}
.Company{
  color: #6c757d;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-family: 'Permanent Marker';
  letter-spacing: 0.3rem;
  font-weight: 500;
}
.SubInfo{
  margin-top: 1rem ;
  margin-bottom: 0;
  font-weight: bold;
}
.Info{
  line-height: 1.8;
  color: #6c757d;
  font-size: 1.25rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1rem;
}
.Txt{
  color: var(--mainBlue);
  font-weight: 500;
}
h2,h4{
  margin: 0
}